* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(231, 231, 250);
    color: black;
    font-family: 'Poppins', sans-serif;
}


#root {
    background-image: url("./assets/5e90a7d9c7c8f9000434dd94.png");
    background-position: center;
    background-size: cover;
    height: 650px;
    width: 380px;
    margin: 60px auto;

    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

#input {
    width: 78%;
    height: 30%;
    background-color: rgb(0, 0, 0);
    color: white;
    position: absolute;
    z-index: -1;
    top: 30px;
    border-radius: 30px 30px 0 0;
    position: relative;
}


#history
{
    position: absolute;
    right: 30px;
    top: 60px;
    font-size: 25px;
}

#answer
{
    position: absolute;
    right: 30px;
    top: 110px;
    font-size: 45px;
    color: orange;
}

#output {
    width: 73%;
    height: 64%;
    display: flex;
    align-items: start;
    justify-content: center;
    background-color: rgb(38, 38, 38);
    position: absolute;
    top: calc(26% + 33px);
    border-radius: 0 0 30px 30px;
}

#output table
{
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 0 15px;
}

table button
{
    width: 45px;
    height: 45px;
    margin: 0 10px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
}
table button:hover
{
    transform: scale(0.98);
}
table button:active
{
    transform: scale(0.93);
}

.lastBtn
{
    background-color: orange ;
    color: white;
}